@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.no-scrollbar::-webkit-scrollbar {
    height: 8px;
}

.no-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}